*{box-sizing: border-box;
    margin:0;
    padding: 0;
    }
    
    .clearfix::after{
        content: "";
        display:table;
        clear:both;
    }
    
    .fl{
        float: left;
        
        
    }


    .fr{
        float: right;
    }
    
   

    .container {
        max-width: 1090px;
        margin: 0 auto;
    }
    

    nav{
        background-color: rgb(255, 255, 255);
        height: 50px;
        margin: 20px 0;
        padding: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    header{
        height: 150px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 25px;
    }
    
    #logo{
        margin-top: 5px;
        width: 200px;
        height: 90px;
    }

    .list{
        background-color: rgb(255, 255, 255);
        height: 200px;
    }
    
    ul{
       list-style: none;
    }

    li{
        font-size: 20px;
        display: inline-block;
        margin-right: 25px;
        margin-left: 10px;
        color: rgb(167, 159, 159);
    }

    .main-page{
        background-color: rgb(255, 255, 255);
        margin: 20px 0 10px 0;
        padding-bottom: 20px; 
        height: 1090px;
        

    }
    
    
    .row{
        background-image: url(../img/banner.jpg);
        background-color: rgb(250, 250, 250);
        background:cover;
        width: 1090px;
        height: 400px;
        opacity: 0.7;
        border-radius: 15px 15px 15px 15px; 
    }

    

    .testo{
        margin-left: 5%;
        margin-top: 20p%;
        color: rgb(36, 26, 26);
    }


    .leader{
        height: 60px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }


    h1{
        color: rgb(95, 93, 93);
        
    }


  #colorwhite{
        color: rgb(95, 93, 93);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
       
        margin-left: 7%;
        
    }

    h4{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
 
    #text1{
        margin-right: 9%;
        font-family: 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
        color: lightgrey;
    }

    #text2{
    color: lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: left;
}
    #img{
        background-color: rgb(14, 9, 9);
        opacity: 0.7;
        border-radius: 15px 15px 15px 15px;
        border-color: black;
    }

    .left{
        width: 263px;
        height: 350px;
        padding-left: 10px;
    }
    
    .center{
        width:  525px;
        height: 350px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .right{
        width:  263px;
        height: 350px;
        padding-right: 25px;
    }
    
    
    footer{
        width: 1090px;
        padding: 1%;
        background-color: rgb(255, 255, 255);
        height: 80px;
        margin-top: 15px;
        margin: auto;  
    }

    #footertext{
        font-size: 20px;
        margin-left: 45%;
        padding: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    


    .content {
        height: 590px;
        text-align: left;
        background-color: rgb(255, 255, 255);
    }
    
    